[user]
	name = yysskk
	email = yusuke.0213@gmail.com
[core]
  deltaBaseCacheLimit = 1G
  editor = vim
	precomposeunicode = true
[mergetool]
  keepBackup = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
[color]
  ui = always
	diff = auto
	status = auto
	branch = auto
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[filter "lfs"]
	smudge = git-lfs smudge -- %f
  required = true
  clean = git-lfs clean -- %f
	process = git-lfs filter-process
[push]
	default = simple
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
